body{
    width: 900px;
    margin: auto;
    color: #fcfcfc;
    text-align: justify;
}

h1{
    border-top: solid;
    border-bottom: solid;
    color: #764e36;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
}

h2{
    color: #fcfcfc;
    background-color: #764e36;
    font-family: Arial;
    padding: 3px;
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
}

img{
    border: #764e36;
    border-style: solid;
    padding: 10px;
}